## Analyse des opportunités d'emploi

In [179]:
import pandas as pd
import numpy as np

In [180]:
df = pd.read_csv('job-64bd250cb0899621267166.csv', encoding='latin-1')
df.head()

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48K+ *,"Computer Science,Data quality,Genetics,Mathema...",",,,,"
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48K+ *,"Agile,Data management,Finance,Security,,",",,,,"
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,NaN,90K+ *,"Agile,Architecture,AWS,Computer Science,Comput...","Career development,,,,"
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,48K+ *,"Engineering,Industrial,Oracle,Power BI,R,R&D",",,,,"
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",Full Time,Mid-level,108K+,"AWS,Azure,Computer Science,Consulting,Dataflow...","Flex hours,Flex vacation,Parental leave,Unlimi..."

### Exploration

In [181]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3198 entries, 0 to 3197
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Company                     3197 non-null   object
 1   Job Title                   3197 non-null   object
 2   Location                    3197 non-null   object
 3   Job Type                    3197 non-null   object
 4   Experience level            2962 non-null   object
 5   Salary                      3009 non-null   object
 6   Requirment of the company   3198 non-null   object
 7   Facilities                  3198 non-null   object
dtypes: object(8)
memory usage: 200.0+ KB

In [182]:
df["Company"].value_counts()

Publicis Groupe                   126
Bosch Group                       102
Amazon.com                         57
Block                              54
Visa                               44
                                 ...
PayFit                              1
Pindrop                             1
SMRS                                1
Funding Societies                   1
Galileo Financial Technologies      1
Name: Company, Length: 1106, dtype: int64

In [183]:
df["Job Title"].value_counts()

Data Engineer                                                                    105
Data Scientist                                                                    82
Data Analyst                                                                      79
Senior Data Engineer                                                              67
Machine Learning Engineer                                                         47
                                                                                ...
Director | Master Data Management Delivery Lead| Data & Cloud - NV1 Clearance      1
Senior Data Engineer -REMOTE                                                       1
Associate Director/Director of Chemical Data Analytics                             1
AI Engineer                                                                        1
Data Scientist - New College Graduate                                              1
Name: Job Title, Length: 2138, dtype: int64

In [184]:
df["Location"].value_counts()

Bengaluru, India                             90
Paris, France                                79
New York City, United States                 69
Remote                                       67
London, United Kingdom                       64
                                             ..
Redwood City, USA & Vancouver, Canada &
     1
Remote Canada | Remote United States          1
Toronto, ON                                   1
Mountain View, CA, United States              1
Biñan, Philippines                            1
Name: Location, Length: 1117, dtype: int64

In [185]:
df["Job Type"].value_counts()

Full Time     3116
Internship      75
Part Time        6
Name: Job Type, dtype: int64

In [186]:
df["Experience level"].value_counts()

Senior-level       1876
Entry-level         506
Mid-level           452
Executive-level     128
Name: Experience level, dtype: int64

In [187]:
df["Salary"].value_counts()

 115K+ *    253
 62K+ *     217
 92K+ *     204
 129K+ *    163
 55K+ *     159
           ...
GBP 42K+      1
EUR 80K+      1
 214K+        1
 63K+         1
 117K+        1
Name: Salary, Length: 218, dtype: int64

In [188]:
count_with_plus = df['Salary'].str.contains(r'\+').sum()
count_with_plus

3006

In [189]:
count_with_etoil = df['Salary'].str.contains(r'\*').sum()
count_with_etoil

2405

In [190]:
df["Facilities"].value_counts()

,,,,                                                                           542
Career development,,,,                                                         245
Career development,Startup environment,,,                                       95
Startup environment,,,,                                                         74
Career development,Equity,Flex hours,Flex vacation,Health care                  42
                                                                              ...
Career development,Competitive pay,Fertility benefits,Flex vacation,Gear         1
Career development,Health care,Parental leave,Salary bonus,                      1
Career development,Conferences,Flex hours,Flex vacation,Home office stipend      1
Career development,Competitive pay,Equity,Parental leave,Team events             1
401(k) matching,Flex hours,Flex vacation,Health care,Startup environment         1
Name: Facilities, Length: 777, dtype: int64

### Nettoyage

In [192]:
df = df.rename(columns={'Company': 'company'})
df = df.rename(columns={'Job Title': 'job_title'})
df = df.rename(columns={'Location': 'location'})
df = df.rename(columns={'Job Type': 'job_type'})
df = df.rename(columns={'Experience level': 'experience_level'})
df = df.rename(columns={'Salary': 'salary'})
df = df.rename(columns={'Requirment of the company': 'requirment_of_the_company'})
df = df.rename(columns={'Facilities': 'facilities'})
df = df.rename(columns={'Job Title Extracted': 'job_title_extracted'})
df = df.rename(columns={'Country': 'country'})
df = df.rename(columns={'Salary Category': 'salary_category'})
df = df.rename(columns={'Remote': 'remote'})
df = df.rename(columns={'Hybrid': 'hybrid'})
df = df.rename(columns={'Local': 'local'})
df = df.rename(columns={'Category': 'category'})

In [193]:
df.isnull().sum()

company                         1
job_title                       1
location                        1
job_type                        1
experience_level              236
salary                        189
Requirment of the company       0
facilities                      0
dtype: int64

#### Company

In [195]:
df['company'] = df['company'].str.lower()

In [197]:
df.dropna(subset=["company"], inplace = True)

In [198]:
df['company'] = df['company'].str.strip()

In [199]:
df['company']

0                   sgs
1               ocorian
2                cricut
3           bosch group
4       publicis groupe
             ...
3193    western digital
3194           experian
3195     locus robotics
3196      atb financial
3197            shippeo
Name: company, Length: 3197, dtype: object

#### Job Title

In [200]:
df['job_title'] = df['job_title'].str.lower()

In [201]:
df['job_title'] = df['job_title'].str.strip()

In [202]:
import langid
from mtranslate import translate

# Function to translate text to English using mtranslate
def translate_text(text):
    target_lang = 'en'
    translation = translate(text, to_language=target_lang)
    return translation

df['job_title'] = df['job_title'].astype(str)

df['job_title'] = df['job_title'].apply(lambda x: translate_text(x) if langid.classify(x)[0] != 'en' else x)

In [203]:
df['job_title']

0                             clinical data analyst
1                            aml/cft & data analyst
2                         machine learning engineer
3              application developer & data analyst
4       data engineer full time (public sector) usa
                           ...
3193          data scientist - new college graduate
3194                             cloud data analyst
3195                     robotics engineer, sensors
3196                                 data scientist
3197                           senior data engineer
Name: job_title, Length: 3197, dtype: object

In [205]:
from fuzzywuzzy import fuzz, process

# Assuming you have already imported pandas and have your DataFrame stored in 'df'

# Define a function to extract job titles using fuzzy matching against the updated possible_job_titles list
def extract_job_title(title):
    # List of fixed possible job titles
    possible_job_titles = [
        "data scientist",
        "data analyst",
        "data engineer",
        "data architect",
        "data storyteller",
        "machine learning scientist",
        "machine learning engineer",
        "business intelligence developer",
        "database administrator",
        "technology specialized roles",
        "business intelligence analyst",
        "data security analyst",
        "database manager",
        "database developer",
        "data modeler",
        "big data engineer",
        "robotic scientist",
        "ai product manager",
        "ai consultant",
        "robotics engineer",
        "nlp engineer",
        "research assistant",
        "deep learning engineer",
        "data warehouse specialist",
        "data quality analyst",
        "data operations manager",
        "data visualization specialist",
        "data governance analyst",
        "data product manager",
        "data integration specialist",
        "data mining specialist",
        "data analytics manager",
        "data insights analyst",
        "data privacy officer",
        "data strategy consultant",
        "data migration specialist",
        "data governance manager",
        "data science manager",
        "software engineering manager",
        "mobile applications developer",
        "information systems security manager",
        "product manager",
        "artificial intelligence (ai) engineer",
        "full-stack developer",
        "cloud architect",
        "devops engineer",
        "blockchain engineer",
        "software architect",
        "internet of things (iot) solutions architect",
        "bi developer",
    ]

    # Use process.extractOne to get the best matching job title from the list of possibilities
    best_match, confidence = process.extractOne(title.lower(), possible_job_titles)
    return best_match if confidence >= 70 else "Other"  # If confidence is below 70, return "Other"

# Create a new column 'Job Title Extracted' in the DataFrame using the apply function
df['job_title_extracted'] = df['job_title'].apply(extract_job_title)

#### Location

In [207]:
df['location'] = df['location'].str.lower()

In [208]:
df['location'] = df['location'].str.strip()

In [209]:
df['location']

0         richardson, tx, united states
1                      ebène, mauritius
2       south jordan, ut, united states
3                      nonantola, italy
4          arlington, va, united states
                     ...
3193                 biñan, philippines
3194                heredia, costa rica
3195      wilmington, ma, united states
3196          edmonton, alberta, canada
3197                      paris, france
Name: location, Length: 3197, dtype: object

##### Country

In [210]:
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut

def batch_geocode(locations):
    geolocator = Nominatim(user_agent="myGeocoder")
    results = []
    
    for location in locations:
        try:
            location_info = geolocator.geocode(location, timeout=10)
            if location_info:
                country = location_info.address.split(",")[-1].strip()
                results.append(country)
            else:
                results.append(None)
        except GeocoderTimedOut:
            results.append(None)
    
    return results

# Replace df['Location'] with your actual 'Location' column
locations = df['location'].tolist()
df['country'] = batch_geocode(locations)
df['country']

0             United States
1       Mauritius / Maurice
2             United States
3                    Italia
4             United States
               ...
3193            Philippines
3194             Costa Rica
3195          United States
3196                 Canada
3197                 France
Name: country, Length: 3197, dtype: object

In [212]:
filtered_df = df[pd.isnull(df['country'])]
filtered_df

,company,job_title,location,job_type,experience_level,salary,Requirment of the company,facilities,job_title_extracted,country
19,deepl,"data scientist | insights (f/m/d) - ger, uk, n...",remote job,Full Time,Senior-level,129K+ *,"Agile,Data visualization,Economics,Machine Lea...","Career development,,,,",data scientist,None
24,ex2 outcoding,data engineer scientist,remote worldwide,Full Time,Mid-level,73K+ *,"Computer Science,Data Mining,Engineering,Pytho...",",,,,",data engineer,None
29,quintoandar,quintoandar - senior data analyst,"são paulo, state of são paulo, brazil",Full Time,Senior-level,92K+ *,"Clustering,Looker,Python,SQL,Tableau,","Fitness / gym,,,,",data analyst,None
30,neo cybernetica,ml research engineer,poland or eastern europe remote,Full Time,Senior-level,105K+ *,"Cybernetics,DataRobot,Engineering,Keras,Machin...","Career development,Flex hours,Health care,Star...",data engineer,None
32,podium,senior data engineer,"lehi, utah, open to remote",Full Time,Senior-level,115K+ *,"APIs,Big Data,Computer Science,Data analysis,D...",",,,,",data engineer,None
...,...,...,...,...,...,...,...,...,...,...
3161,equipmentshare,bi data analyst,remote: kansas city; denver; chicago; phoenix;...,Full Time,Senior-level,36K+ *,"Business Analytics,Business Intelligence,Finan...","401(k) matching,Career development,Competitive...",data analyst,None
3176,itech media,data analytics engineer,warsaw remote,Full Time,Entry-level,30K+ *,"Airflow,Data Analytics,Engineering,Finance,Kaf...","Career development,Flex hours,Flex vacation,He...",data scientist,None
3178,galileo financial technologies,staff etl developer,ut - remote; ut - cottonwood heights,Full Time,Senior-level,63K+ *,"Computer Science,Data pipelines,Data warehouse...","Flex hours,Health care,Insurance,,",business intelligence developer,None
3181,c3.ai,data scientist / senior data scientist (federal),"tysons, va; dayton, oh; redwood city, ca",Full Time,Senior-level,123K+,"Architecture,Classification,Computer Science,C...","Career development,Competitive pay,Equity,,",data scientist,None
3192,doordash,"senior software engineer, machine learning - a...","sunnyvale, ca; san francisco, ca; new york",Full Time,Senior-level,176K+,"Computer Science,Data analysis,Engineering,Exc...","401(k) matching,Career development,Equity,Insu...",data engineer,None

In [213]:
filtered_df['country'] = filtered_df['location'].str.split(',').str[-1].str.strip()
print(filtered_df['country'])

19                                             remote job
24                                       remote worldwide
29                                                 brazil
30                        poland or eastern europe remote
32                                         open to remote
                              ...
3161    remote: kansas city; denver; chicago; phoenix;...
3176                                        warsaw remote
3178                 ut - remote; ut - cottonwood heights
3181                                                   ca
3192                                         ca; new york
Name: country, Length: 372, dtype: object

C:\Users\Youcode\AppData\Local\Temp\ipykernel_14032\2111919765.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [214]:
filtered_df['country'].unique()

array(['remote job', 'remote worldwide', 'brazil',
       'poland or eastern europe remote', 'open to remote',
       'argentina - remote', 'in - hybrid', 'belgium - remote',
       'london or remote (uk)', 'united states - remote',
       'united arab emirates - remote', 'germany - remote',
       'south africa - remote', 'canada | remote-can',
       'remote (us & can)', 'dc', 'united kingdom', '',
       'london/manchester (hybrid)', 'jordan', 'thailand',
       'spain - remote', 'dc metro area', 'france - remote', 'ma',
       'gibraltar', 'ny; san', 'remote', 'vietnam - remote',
       'united kingdom - remote', 'romania', 'deu', 'il or remote',
       'bulgaria', 'or remote', 'remote-asia pacific', 'co or',
       'paris or remote from france', 'new york city or remote', 'ca',
       'united states', 'philippines', 'remote- u.s. based',
       'remote or mississauga', 'pakistan - remote', 'bc (remote)',
       'malta - remote', 'netherlands - remote', 'canada',
       'india - remote', 'san francisco or remote',
       'ca - san francisco hq; wa -', 'italy', 'toronto (remote)',
       'raleigh/durham | remote', 'united', 'latam (remote)',
       'flexible within the us', 'london', 'chile - remote', 'austria',
       'mexico - remote', 'north macedonia', 'ca / new york city',
       'poland', 'canada - remote', 'tx (local remote)',
       'philippines - remote', 'ca; us remote', 'remote available',
       'spain', 'new york city | remote-usa | remote-can', 'dallas',
       'hungary', 'finland - remote', 'chennai (hybrid)',
       'remote in the uk', 'brazil - remote', 'mx - remote', 'ca; remote',
       'canada &', 'remote canada | remote united states', 'remote (usa)',
       'romania - remote', 'remote - west coast - us/canada',
       'home based - emea', 'nj', 'united states / los',
       'virtual location - washington', 'israel',
       'new york / london / remote', 'london or remote (u.k)',
       'remote in philippines',
       'remote; chicago; dallas; phoenix; denver; atlanta',
       'ukraine - remote', 'ca - remote', 'wa; new york', 'co - hybrid',
       'san francisco (or remote)', 'stockholm', 'portugal - remote',
       'rou', 'ca; los', 'co (remote)', 'portugal (remote / hybrid)',
       'slovenia', 'wa - remote', 'usa;', 'us- remote / canada',
       'us -remote/ canada', 'london and your home!', 'state of rio de',
       'greater boston / new hampshire area', 'argentina remote',
       'slovakia (slovak republic)', 'lithuania - remote', 'us / canada',
       'united states & canada - remote',
       'remote in the united states or canada',
       'anywhere in the u.s. (remote)', 'il; united states', 'ga',
       'poland (remote)', 'remote portugal', 'uk or europe remote',
       'in-remote', 'remote poland', 'poland remote', 'rspl hq - pune',
       'co - remote', 'usa', 'remote or chicago',
       'california; new york city;', 'ca or new york city', 'portugal.',
       'canada east', 'poland - remote', 'peru - remote', 'thuiswerk',
       'ga - remote', 'bangkok (central world office)',
       'contiguous united states',
       'remote: kansas city; denver; chicago; phoenix; columbia',
       'es - remote', 'tx - remote', 'pa - remote', 'gb - remote',
       'anywhere in latam', 'gbr', 'bengaluru/ chennai/ pune',
       'remote north america', 'london or remote uk', 'denmark; rio de',
       'uruguay - remote', 'ca - san francisco hq; ca -', 'us', 'or',
       'wa', 'wa;', 'az; new york city; united states', 'kansas',
       'georgia - remote', 'remote sweden',
       'uk - (remote / london office)', 'minneapolis or remote us',
       'remote (global)', 'us-md-lanham//us-remote',
       'san francisco bay area or remote', 'india', 'ca (remote)',
       'riga or tallinn', 'amsterdam', 'anywhere in the us',
       'europe (remote)', 'new york city or boston', 'seattle',
       'new york city/remote', 'analytics engineer - mexico',
       'remote - ireland', 'warsaw remote',
       'ut - remote; ut - cottonwood heights', 'ca; new york'],
      dtype=object)

In [215]:
from geopy.geocoders import Nominatim
from geopy.exc import GeocoderTimedOut

def batch_geocode(locations):
    geolocator = Nominatim(user_agent="myGeocoder")
    results = []
    
    for location in locations:
        try:
            location_info = geolocator.geocode(location, timeout=10)
            if location_info:
                country = location_info.address.split(",")[-1].strip()
                results.append(country)
            else:
                results.append(None)
        except GeocoderTimedOut:
            results.append(None)
    
    return results

# Replace df['Location'] with your actual 'Location' column
locations = filtered_df['country'].tolist()
filtered_df['country'] = batch_geocode(locations)
filtered_df['country']

C:\Users\Youcode\AppData\Local\Temp\ipykernel_14032\1496406308.py:23: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

19               None
24               None
29             Brasil
30               None
32               None
            ...
3161             None
3176             None
3178             None
3181           Canada
3192    United States
Name: country, Length: 372, dtype: object

In [216]:
filtered_df['country'].value_counts()

United States                  84
Canada                         31
United Kingdom                 27
India                          15
Brasil                          8
España                          7
الإمارات العربية المتحدة        6
Polska                          5
Philippines                     4
Magyarország                    3
Österreich                      3
România                         3
Maroc / ⵍⵎⵖⵔⵉⴱ / المغرب         2
Nederland                       2
ישראל                           2
Suomi / Finland                 2
België / Belgique / Belgien     2
Deutschland                     2
Северна Македонија              2
Colombia                        2
Việt Nam                        2
Italia                          1
България                        1
Gibraltar                       1
الأردن                          1
ประเทศไทย                       1
Sverige                         1
Venezuela                       1
Slovenija                       1
Slovensko                       1
Gabon                           1
Portugal                        1
Name: country, dtype: int64

In [217]:
df['country'] = df['country'].fillna(filtered_df['country'])

In [218]:
def translate_text(text):
    target_lang = 'en'
    translation = translate(text, to_language=target_lang)
    return translation

df['country'] = df['country'].astype(str)

df['country'] = df['country'].apply(lambda x: translate_text(x) if langid.classify(x)[0] != 'en' else x)

#### Job Type

In [219]:
df['job_type'] = df['job_type'].str.lower()

#### Experience level

In [220]:
df['experience_level'] = df['experience_level'].str.lower()

In [221]:
df['experience_level']

0        entry-level
1        entry-level
2                NaN
3        entry-level
4          mid-level
            ...
3193     entry-level
3194    senior-level
3195    senior-level
3196     entry-level
3197    senior-level
Name: experience_level, Length: 3197, dtype: object

#### Requirment of the company

In [226]:
df = df.rename(columns={'Requirment of the company ': 'requirment_of_the_company'})

In [227]:
df['requirment_of_the_company'] = df['requirment_of_the_company'].str.lower()

In [228]:
df['requirment_of_the_company'] = df['requirment_of_the_company'].str.replace(r',,','', regex=True)
df['requirment_of_the_company'] = df['requirment_of_the_company'].str.replace(r'\.\.\.', '', regex=True)

In [229]:
def translate_text(text):
    target_lang = 'en'
    translation = translate(text, to_language=target_lang)
    return translation

df['requirment_of_the_company'] = df['requirment_of_the_company'].astype(str)

df['requirment_of_the_company'] = df['requirment_of_the_company'].apply(lambda x: translate_text(x) if langid.classify(x)[0] != 'en' else x)

In [230]:
df['requirment_of_the_company']

0       computer science,data quality,genetics,mathema...
1                  agile,data management,finance,security
2       agile,architecture,aws,computer science,comput...
3            engineering,industrial,oracle,power bi,r,r&d
4       aws,azure,computer science,consulting,dataflow...
                              ...
3193    apis,clustering,computer science,data visualiz...
3194      aws,big data,computer science,gcp,snowflake,sql
3195    e-commerce,engineering,linux,python,robotics,s...
3196    computer science,data analytics,data mining,ec...
3197    airflow,architecture,bigquery,ci/cd,computer s...
Name: requirment_of_the_company, Length: 3197, dtype: object

#### Facilities

In [231]:
df['facilities'] = df['facilities'].str.lower()

In [232]:
df['facilities'] = df['facilities'].str.replace(r',,','', regex=True)
df['facilities'] = df['facilities'].str.replace(r'\.\.\.', '', regex=True)

In [233]:
def translate_text(text):
    target_lang = 'en'
    translation = translate(text, to_language=target_lang)
    return translation

df['facilities'] = df['facilities'].astype(str)

# Translate non-English job titles to English
df['facilities'] = df['facilities'].apply(lambda x: translate_text(x) if langid.classify(x)[0] != 'en' else x)

In [234]:
df['facilities'] = df['facilities'].fillna('without facilities')
df['facilities'] = df['facilities'].replace('', 'without facilities')

In [235]:
df['facilities']

0                                      without facilities
1                                      without facilities
2                                      career development
3                                      without facilities
4       flex hours,flex vacation,parental leave,unlimi...
                              ...
3193                                   career development
3194                    equity,medical leave,salary bonus
3195                                   without facilities
3196              career development,startup environment,
3197                                   without facilities
Name: facilities, Length: 3197, dtype: object

#### Salary

In [237]:
df['salary'] = df['salary'].astype(str)

def categorize_salary(salary_value):
    if '+' in salary_value and '*' in salary_value:
        return 'salaire minimum et sous-conditions'
    elif '+' in salary_value:
        return 'salaire minimum'
    elif '*' in salary_value:
        return 'salaire sous-conditions'
    else:
        return 'salaire fix'

df['salary_category'] = df['salary'].apply(categorize_salary)

In [238]:
df['salary'] = df['salary'].str.replace(r'[+*]', '', regex=True)

In [241]:
def convert_to_usd(salary_value):
    if 'GBP' in salary_value:
        salary_value = float(salary_value.replace('GBP', '').replace('K', '')) * 1.37 * 1000
    elif 'EUR' in salary_value:
        salary_value = float(salary_value.replace('EUR', '').replace('K', '')) * 1.18 * 1000
    elif 'K' in salary_value:
        salary_value = float(salary_value.replace('K', '')) * 1000
    else:
        salary_value = float(salary_value)
    
    return salary_value

df['salary'] = df['salary'].apply(convert_to_usd)

df['salary']

TypeError: argument of type 'float' is not iterable

In [242]:
duplicates_count = df.duplicated().sum()
duplicates_count

203

In [243]:
df = df.drop_duplicates()
df.shape

(2994, 11)

In [244]:
df_filtered = df.dropna(subset=['salary'])
mean_salary_by_profile = df_filtered.groupby(['job_title_extracted', 'job_type', 'experience_level'])['salary'].mean()

print(mean_salary_by_profile.round(2))

job_title_extracted           job_type   experience_level
Other                         full time  entry-level         36600.0
                                         executive-level     78800.0
                                         mid-level           54500.0
                                         senior-level        59437.5
ai consultant                 full time  entry-level         39000.0
                                                              ...
robotics engineer             full time  entry-level         39500.0
                                         executive-level     81000.0
                                         senior-level        81000.0
software engineering manager  full time  senior-level        69000.0
technology specialized roles  full time  senior-level        62000.0
Name: salary, Length: 109, dtype: float64

In [245]:
def replace_nan_salary(row):
    if np.isnan(row['salary']):
        try:
            return mean_salary_by_profile.loc[row['job_title_extracted'], row['job_type'], row['experience_level']]
        except KeyError:
            return np.nan
    return row['salary']

df['salary'] = df.apply(replace_nan_salary, axis=1)
df['salary'] = df['salary'].round(2)

C:\Users\Youcode\AppData\Local\Temp\ipykernel_14032\2248120778.py:9: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Youcode\AppData\Local\Temp\ipykernel_14032\2248120778.py:10: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [246]:
mean_salary_by_experience = df_filtered.groupby(['job_title_extracted', 'experience_level'])['salary'].mean()

def infer_experience_level(row):
    if pd.isnull(row['experience_level']):
        job_Extracted = row['job_title_extracted']
        salary = row['salary']
        if job_Extracted in mean_salary_by_experience.index.get_level_values(0):
            available_experience_levels = mean_salary_by_experience.loc[job_Extracted].index
            salary_diff = abs(mean_salary_by_experience.loc[job_Extracted] - salary)
            inferred_experience_level = salary_diff.idxmin()
            if inferred_experience_level in available_experience_levels:
                return inferred_experience_level
    return row['experience_level']

df['experience_level'] = df.apply(infer_experience_level, axis=1)
df['salary'] = df['salary'].round(2)

C:\Users\Youcode\AppData\Local\Temp\ipykernel_14032\4013793640.py:15: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Youcode\AppData\Local\Temp\ipykernel_14032\4013793640.py:16: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [247]:
df.isnull().sum()

company                       0
job_title                     0
location                      0
job_type                      0
experience_level              5
salary                       77
requirment_of_the_company     0
facilities                    0
job_title_extracted           0
country                       0
salary_category               0
dtype: int64

In [248]:
df = df.dropna()

In [250]:
filtered_df = df['salary']

q1 = filtered_df.quantile(0.25)
q3 = filtered_df.quantile(0.75)

iqr = q3 - q1

lower_bound = q1 - 1.5 * iqr

upper_bound = q3 + 1.5 * iqr

outliers = filtered_df[
    (filtered_df < lower_bound) | (filtered_df > upper_bound)
]

outliers

185     236000.0
441     224000.0
596     283000.0
665     283000.0
668     204000.0
688     295000.0
720     283000.0
732     283000.0
736     267000.0
744     283000.0
785     295000.0
789     310000.0
841     207000.0
868     315000.0
904     267000.0
934     245000.0
944     224000.0
1022    214000.0
1389    218000.0
1400    230000.0
1460    225000.0
1486    253000.0
1513    235000.0
1554    227000.0
1683    234000.0
1724    245000.0
1807    245000.0
2196    235000.0
2518    205000.0
2731    205000.0
2863    220000.0
3030    204000.0
Name: salary, dtype: float64

In [251]:
outliers.count()

32

In [252]:
df = df.drop(outliers.index)

In [254]:
# Creating the 'Remote', 'Hybrid', and 'Local' columns
df['remote'] = df['location'].apply(lambda x: 'remote' in x)
df['hybrid'] = df['location'].apply(lambda x: 'hybrid' in x)
df['local'] = df['location'].apply(lambda x: 'remote' not in x and 'hybrid' not in x)

In [260]:
df

,company,job_title,location,job_type,experience_level,salary,requirment_of_the_company,facilities,job_title_extracted,country,salary_category,remote,hybrid,local,category
0,sgs,clinical data analyst,"richardson, tx, united states",full time,entry-level,48000.0,"computer science,data quality,genetics,mathema...",without facilities,data analyst,United States,salaire minimum et sous-conditions,False,False,True,Data Science
1,ocorian,aml/cft & data analyst,"ebène, mauritius",full time,entry-level,48000.0,"agile,data management,finance,security",without facilities,data analyst,Mauritius / Maurice,salaire minimum et sous-conditions,False,False,True,Data Science
2,cricut,machine learning engineer,"south jordan, ut, united states",full time,mid-level,90000.0,"agile,architecture,aws,computer science,comput...",career development,machine learning engineer,United States,salaire minimum et sous-conditions,False,False,True,Other
3,bosch group,application developer & data analyst,"nonantola, italy",full time,entry-level,48000.0,"engineering,industrial,oracle,power bi,r,r&d",without facilities,data analyst,Italia,salaire minimum et sous-conditions,False,False,True,Data Science
4,publicis groupe,data engineer full time (public sector) usa,"arlington, va, united states",full time,mid-level,108000.0,"aws,azure,computer science,consulting,dataflow...","flex hours,flex vacation,parental leave,unlimi...",data engineer,United States,salaire minimum,False,False,True,Big Data
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,ccri,"application integration engineer, computer vis...","chantilly, virginia, united states",full time,mid-level,113000.0,"agile,angular,apis,architecture,aws,azure","401(k) matching,career development,flex hours,...",data engineer,United States,salaire minimum,False,False,True,Big Data
3191,publicis groupe,"associate director, data science","new york city, united states",full time,mid-level,106000.0,"bayesian,classification,clustering,data analys...","career development,health care,",data scientist,United States,salaire minimum,False,False,True,Data Science
3192,doordash,"senior software engineer, machine learning - a...","sunnyvale, ca; san francisco, ca; new york",full time,senior-level,176000.0,"computer science,data analysis,engineering,exc...","401(k) matching,career development,equity,insu...",data engineer,United States,salaire minimum,False,False,True,Big Data
3193,western digital,data scientist - new college graduate,"biñan, philippines",full time,entry-level,39000.0,"apis,clustering,computer science,data visualiz...",career development,data scientist,Philippines,salaire minimum et sous-conditions,False,False,True,Data Science
3196,atb financial,data scientist,"edmonton, alberta, canada",full time,entry-level,39000.0,"computer science,data analytics,data mining,ec...","career development,startup environment,",data scientist,Canada,salaire minimum et sous-conditions,False,False,True,Data Science

In [261]:
category_mapping = {
    "AI": ["robotic scientist", "ai product manager", "ai consultant", "robotics engineer", "nlp engineer", "research assistant", "deep learning engineer", "artificial intelligence (ai) engineer"],
    "Data Science": ["data scientist", "data analyst", "machine learning scientist", "business intelligence analyst", "data security analyst", "data modeler", "data quality analyst", "data visualization specialist", "data governance analyst", "data insights analyst", "data privacy officer", "data strategy consultant", "data science manager"],
    "Big Data": ["data engineer", "data architect", "big data engineer", "data warehouse specialist", "data operations manager", "data product manager", "data integration specialist", "data mining specialist", "data analytics manager", "data migration specialist", "data governance manager"]
}

# Function to map job titles to categories
def categorize_job_title(job_title):
    for category, titles in category_mapping.items():
        if job_title.lower() in titles:
            return category
    return "Other"  # Assign "Other" category for titles not matching any of the defined categories

# Create the 'Category' column based on the 'Job Title Extracted'
df['category'] = df['job_title_extracted'].apply(categorize_job_title)

df['category']

0       Data Science
1       Data Science
2              Other
3       Data Science
4           Big Data
            ...
3190        Big Data
3191    Data Science
3192        Big Data
3193    Data Science
3196    Data Science
Name: category, Length: 2883, dtype: object

In [257]:
df.shape

(2883, 15)